nav {
    background-color: #9B274A;
    padding: 5px;
    text-align: center;
}
a {
    color: floralwhite;
    text-decoration: none;
}
a:active{
    color: #A0134B;
    font-style: oblique;
}
a:hover {
    background-color: floralwhite;
    color: #A0134B;
    text-decoration: underline;
    font-weight: bold;
}
a:focus{
    background-color: floralwhite;
    color: #A0134B;
    text-decoration: underline;
    font-weight: bold;
}

p,h1,h2,h3,h4,h5,h6,ol,ul,a,button,input{
    font-family: Optima, sans-serif;
}

ul li a{
    margin-inline: 30px;
    color: floralwhite;
    padding: 10px;
    list-style-type: none;
}
p, label, li {
    font-size: 22px;
    list-style-type: none;
}
ol li {
    list-style-type: decimal;
}

div {
    padding-right: 80px;
}
video{
    width: 100%;
    height: 100%;
}
img {
    border-radius: 10px;
}
div.scroll-container {
    background-color: #fae1ed;
    overflow: auto;
    white-space: nowrap;
    padding: 20px;
}
.left {
    width: 40%;
    float: left;
}