a:hover {
    background-color: floralwhite;
    padding-top: 8px;
    padding-bottom: 8px;
}

a:focus{
    background-color: floralwhite;
    padding-top: 8px;
    padding-bottom: 8px;
}

a:active{
    color: #892301;
    font-weight: bold;
}

nav {
    background-color: #CFB3E6;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    font-weight: lighter;
}

ul {
    /*list-style-type: none;*/
    margin: 0;
    padding-left: 5px;
    font-family: Optima, sans-serif;
}

p,
li {
    line-height: 1.5;
    font-size: 22px;
    font-family: Optima, sans-serif;
}
